<h1 class="center">Bienvenido!!!</h1>

<h1 class="center">De click en la opcion que desees</h1>

<div class="center">
  <div>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="goToLogin()"
      class="margin-right"
    >
      Login
    </button>
  </div>
  <div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="goToDoList()"
      class="margin-right"
    >
      To Do List
    </button>
  </div>

  <div>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="goToPhotos()"
      class="margin-right"
    >
      Photos
    </button>
  </div>
</div>
